<form>
  
  <h4 id="title">What are you in the market for?</h4>
  <hr>

  <h6>Select your category</h6>
  <select (change)="onChange($event.target.value)" class="browser-default center" #selected>
    <option value="" disabled selected>Choose your option</option>
    <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
  </select>
  
  <h6 class="select-title">browse selection</h6>
  <select (change)="onChange($event.target.value)" class="browser-default center" #selected>
    <option value="" disabled selected>Choose your option</option>
    <option *ngFor="let veggie of vegtables" [value]="veggie.name">{{veggie.name}}</option>
  </select>

  <button (click)="clickSearch($event, selected.value)" type="submit" class="btn btn-success submit-button" id="search-btn">Search</button>

</form>
