<nav>
    <div class="nav-wrapper" id="main-nav">
      <a routerLink="/" routerLinkActive="active" class="brand-logo">{{title}}</a>
      <span>{{randomJoke}}</span>
      <ul 
       class="right hide-on-med-and-down">
        <li [@myAnimation]='state' (click)= "animateMe()"><a routerLink="/sign-in" routerLinkActive="active">Sign-In</a></li>
        <li [@myAnimation]='state' (click)= "animateMe()"><a routerLink="/sign-up" routerLinkActive="active">Sign-Up</a></li>
        <li [@myAnimation]='state' (click)= "animateMe()"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>