<body>
<div class="container">
	<h2 class="header">Patchwork, Non-GMO, Level 5 Vegan Urban Farms</h2>
	<div class="profilePic"> <img class="responsive-img" src="../../assets/images/patchworkbio.jpg"></div>

	<div class="location"><img class="responsive-img" src="../../assets/images/patchworkmap.jpg"></div>
	
	<div class="bio"><h4>Here at Patchwork 5V we specialize in saving the world one plant at a time.  Legally, we can not say that our crops cure cancer, but I personally know of three people who had cancer, ate our lettuce, and later made a full recovery with their cancer in total remission</h4>
	</div> 
	
	<div class="vegatables">
		<ul><h3>Organic Vegetables</h3>
			<li>Carrots</li>
			<li>Potatoes</li>
			<li>Lettuce(sold out)</li>
			<li>Squash</li>
			<li>Zucchini</li>
		</ul>
	</div>

	<div class="fruits">
		<ul><h3>Organic Fruit</h3>
			<li>Tomatoes</li>
			<li>Peaches</li>
			<li>Apples</li>
			<li>Hydro Bananas</li>
			<li>Avocado</li>
		</ul>
	</div>
	<div class="contact"><p>Prices vary for according to season and quantity on hand. Please contact for details</p></div>
	<div class="reviews"><p>Amazing food.  I can't start my day without avacodo toast from RONU 5V.</p></div>
</div>
</body>